# Created by .ignore support plugin (hsz.mobi)
### Java template
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

rebel.xml
logs/
zs/
lib
*.bak
!/com/github/vaibhavsinha/kong/model/admin/target/
!/src/main/java/com/github/vaibhavsinha/kong/model/admin/target/
